# Environnement
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
dist/
build/
*.egg

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.cache/

# Virtualenv
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
pgdata/

# OS
.DS_Store
Thumbs.db
